/* Initialize styles */

:root {
  --primary-color: #e60b13;
  --secondary-color: #c400f0;
  --gradient: linear-gradient(229.3deg, #ee00f2 14.62%, #e60b13 86.57%);

  --black: #262121;
  --black-75: #5c5858;
  --black-50: #929090;
  --black-25: #c9c8c8;
  --black-10: #e9e9e9;
  --black-5: #f4f4f4;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h6 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.9em;
}

h4 {
  font-size: 2.6em;
}

h3 {
  font-size: 3.75em;
  font-weight: 300;
}

h2 {
  font-size: 5.25em;
}

h1 {
  font-size: 7.4em;
}

p {
  font-size: 1em;
  color: var(--black-75);
}

/* svgs */

.arrow-up-svg path {
  fill: white;
}

.cart-svg path {
  fill: white;
}

/* Css */

#root {
  display: flex;
  flex-direction: column;
  gap: 256px;
}

header {
  background: var(--gradient);
  display: flex;
  height: 124px;
  justify-content: space-between;
  align-items: center;
  padding: 0 152px;
}

header h6 {
  transition: all ease-in-out 500ms;
}

header ul {
  display: flex;
  gap: 16px;
}

header ul li {
  color: white;
  list-style: none;
  position: relative;
}

header .arrow-up-svg {
  position: absolute;
  width: 2em;
  height: auto;
  transform: translate(100%, 10%);
}

header .arrow-up-parent.animate {
  animation: append-animate 1500ms;
}

header .cart-svg {
  width: 2em;
  height: auto;
}

.cart-svg path {
  transition: all ease-in-out 500ms;
}

.cart-svg:hover {
  cursor: pointer;
}

.cart-svg:hover path {
  fill: var(--black);
}

header h6:hover {
  color: var(--black);
  cursor: pointer;
}

.intro-wrapper {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 32px;
}

.intro-wrapper > * {
  display: inline-block;
}

.intro-wrapper h5 {
  color: var(--black-75);
}

.intro-wrapper button {
  color: white;
  border: 4px solid #ee02db;
  background: var(--gradient);
  padding: 24px 48px;
  border-radius: 0px 81px;
  display: flex;
  gap: 8px;
  align-items: center;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.25);
  font-size: 1.3em;
  font-weight: 800;
  transition: all ease-in-out 400ms;
}

.intro-wrapper button:hover {
  gap: 16px;
  padding: 24px 44px;
  cursor: pointer;
}

.intro-wrapper button .arrow-right-svg {
  transform: rotate(90deg);
  width: 1em;
  height: auto;
}

.intro-wrapper button .arrow-right-svg path {
  fill: white;
}

.sales-wrapper > :nth-child(2) {
  color: var(--primary-color);
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 1024px;
}

.intro-wrapper {
  align-self: flex-start;
}

.sales-wrapper {
  align-self: flex-end;
  text-align: center;
}

footer {
  position: relative;
}

.hero-wrapper {
  position: relative;
}

.blur-red {
  position: absolute;
  width: 512px;
  height: 256px;
  top: 20%;
  left: -50%;
  transform: translateY(20%) translateX(50%);
  z-index: -1;
  background: var(--primary-color);
  filter: blur(200px);
}

.blur-violet {
  position: absolute;
  width: 512px;
  height: 256px;
  top: -70%;
  left: 50%;
  transform: translateY(-70%) translateX(50%);
  z-index: -1;
  background: var(--secondary-color);
  filter: blur(200px);
}

footer ul li {
  list-style: none;
  color: white;
  font-size: 1.3em;
}

footer {
  background: var(--secondary-color);
  display: flex;
  height: 124px;
  align-items: center;
  padding: 0 152px;
}

footer ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

footer ul > :last-child > * {
  display: block;
}

footer button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-weight: 800;
  color: white;
  background: none;
  border: 4px solid white;
  padding: 24px 48px;
  border-radius: 81px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all ease-in-out 400ms;
}

footer button:hover {
  background: var(--black);
  border: 4px solid var(--black);
  cursor: pointer;
  padding: 24px 44px;
  gap: 16px;
}

footer button .arrow-right-svg {
  transform: rotate(90deg);
  width: 1em;
  height: auto;
}

footer button .arrow-right-svg path {
  fill: white;
}

@keyframes append-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
