/* Initialize styles */

$primary-color: #e60b13;
$secondary-color: #c400f0;
$gradient: linear-gradient(229.3deg, #ee00f2 14.62%, #e60b13 86.57%);

$black: #262121;
$black-75: #5c5858;
$black-50: #929090;
$black-25: #c9c8c8;
$black-10: #e9e9e9;
$black-5: #f4f4f4;

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $black-10;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h6 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.9em;
}

h4 {
  font-size: 2.6em;
}

h3 {
  font-size: 3.75em;
  font-weight: 300;
}

h2 {
  font-size: 5.25em;
}

h1 {
  font-size: 7.4em;
}

p {
  font-size: 1em;
  color: $black-75;
}

/* svgs */

.arrow-up-svg path {
  fill: white;
}

.cart-svg path {
  fill: white;
}

/* Css */

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  gap: 256px;
}

header {
  background: $gradient;
  display: flex;
  height: 124px;
  justify-content: space-between;
  align-items: center;
  padding: 0 152px;

  ul {
    display: flex;
    gap: 16px;
    li {
      color: white;
      list-style: none;
      position: relative;

      .arrow-up-parent.animate {
        animation: append-animate 1500ms;
      }
      .arrow-up-svg {
        position: absolute;
        width: 2em;
        height: auto;
        transform: translate(100%, 10%);
      }

      h6 {
        transition: all ease-in-out 500ms;

        &:hover {
          color: $black;
          cursor: pointer;
        }
      }
    }
  }

  .cart-svg {
    width: 2em;
    height: auto;

    path {
      transition: all ease-in-out 500ms;
    }

    &:hover {
      cursor: pointer;

      path {
        fill: $black;
      }
    }
  }
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 1024px;
  position: relative;

  .intro-wrapper {
    max-width: 680px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    padding: 0;
    gap: 32px;

    & > * {
      display: inline-block;
    }

    h5 {
      color: $black-75;
    }

    button {
      color: white;
      border: 4px solid #ee02db;
      background: $gradient;
      padding: 24px 48px;
      border-radius: 0px 81px;
      display: flex;
      gap: 8px;
      align-items: center;
      box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.25);
      font-size: 1.3em;
      font-weight: 800;
      transition: all ease-in-out 400ms;

      &:hover {
        gap: 16px;
        padding: 24px 44px;
        cursor: pointer;
      }

      .arrow-right-svg {
        transform: rotate(90deg);
        width: 1em;
        height: auto;

        path {
          fill: white;
        }
      }
    }
  }

  .blur-red {
    position: absolute;
    width: 512px;
    height: 256px;
    top: 20%;
    left: -50%;
    transform: translateY(20%) translateX(50%);
    z-index: -1;
    background: $primary-color;
    filter: blur(200px);
  }
}

.sales-wrapper {
  align-self: flex-end;
  text-align: center;

  & > :nth-child(2) {
    color: $primary-color;
  }
}

footer ul li {
  list-style: none;
  color: white;
  font-size: 1.3em;
}

footer {
  background: $secondary-color;
  display: flex;
  height: 124px;
  align-items: center;
  padding: 0 152px;
  position: relative;

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    & > :last-child > * {
      display: block;
    }
  }

  button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-weight: 800;
    color: white;
    background: none;
    border: 4px solid white;
    padding: 24px 48px;
    border-radius: 81px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: all ease-in-out 400ms;

    &:hover {
      background: $black;
      border: 4px solid $black;
      cursor: pointer;
      padding: 24px 44px;
      gap: 16px;
    }

    .arrow-right-svg {
      transform: rotate(90deg);
      width: 1em;
      height: auto;

      path {
        fill: white;
      }
    }
  }

  .blur-violet {
    position: absolute;
    width: 512px;
    height: 256px;
    top: -70%;
    left: 50%;
    transform: translateY(-70%) translateX(50%);
    z-index: -1;
    background: $secondary-color;
    filter: blur(200px);
  }
}

.shopping-cards {
  max-width: 968px;
  height: 624px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  .shopping-card {
    height: 280px;
    width: 280px;
    background: linear-gradient(
      229.3deg,
      rgba(238, 0, 242, 0.25) 14.62%,
      rgba(230, 11, 19, 0.25) 86.57%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
      outline: 1px solid $black;
    }

    .price {
      background: $black-10;
      align-self: end;
      margin-left: 5px;
      transition: all ease-in-out 100ms;
    }

    &:hover .price {
      cursor: pointer;
      margin-bottom: 5px;
    }

    .cart-plus {
      margin-top: 16px;
      margin-right: 16px;
      cursor: pointer;

      .cart-plus-svg {
        width: 1.5em;
        height: auto;

        path {
          transition: all ease-in-out 400ms;
        }
      }

      &:hover path {
        fill: $secondary-color;
      }
    }
  }

  .shopping-card .price-text {
    background-image: $gradient;
    font-size: 1.3rem;
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}

@keyframes append-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
